.post-view {
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 40px;
  margin-left: 15%;
  border: none;
  border-radius: 15px;
  width: 70%;
  background-color: #06daa9ab;
  box-shadow: 0 20px 80px rgb(5, 207, 180);
}

.top-bar-postview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.logo-container {
    margin-top: -20px;
    margin-left: -40px;
    flex-shrink: 0;
}

.back-home .home-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  text-decoration: none;
  background-color: #1a1a1a;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  margin-left: 800px;
}

.back-home .home-link:hover {
  background-color: #333;
}

.home-icon {
  margin-right: 4px;
}

.first-black {
  background-color: black;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.post-title {
  font-size: 40px;
  text-align: center;
  margin-top: -20px;
  padding-top: 2%;
}

  .post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #ccc;
  margin-left: 10%;
}

.heart-icon {
  color: #ff0000;
  margin-right: 4px;
}

.likes{
  margin-right: 10%;
  color: #ff0000;
}

.post-tags {
  font-size: 14px;
  color: #ccc;
  margin-left: 10%;
  padding-bottom: 1%;
}

.post-body {
  background-color: black;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 10px;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2%;
}

.post-body p{
  margin-bottom: 12px;
  margin-left: 20%;
  line-height: 1.6;
  white-space: pre-wrap;
  padding-bottom: 2%;
}

.lyric {
  border: none;
  background-color: #575656c4;
  border-radius: 10px;
  height: 27rem;
  overflow-y: scroll; 
  margin: 2% 4% 2% 4%;
}
.divider {
  height: 1px;
  background-color: #555;
  margin: 16px 0;
  margin-left: 30px;
  border: none;
  width: 100%;
}
